:root{
    --neutral-500:#495666;
    --neutral-600:#323F4F;
    --neutral-700:#1A232E;
    --neutral-800:#0C141F;
    --neutral-900:#020407;

    --brand-300:rgb(159, 253, 198);
    --brand-300-a:159, 253, 198;
    --brand-500:#35e85f;
    --brand-800:#044920;
    --brand-900:#01200d;

    --default-font: "JetBrains Mono", monospace;
}

body{
    font-family: var(--default-font);
    margin:0;
    background: linear-gradient(32deg, var(--neutral-800) 0%,  var(--neutral-900) 100%);
}

.glass{
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-blurs{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    overflow: clip;
}

.blur{
    position:absolute;
    background:var(--brand-500);
    border-radius: 1000px;
    filter:blur(100px) opacity(.1);
}

.panel-container{
    display: flex;
}

.ranks-panel{
    height:100vh;
    width:20vw;
}
.missions-panel{
    height:100vh;
    width:20vw;
}

.main-content{
    width: 60vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-box{
    width:max(500px,50vh);
    height:max(500px,50vh);
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-box .title{
    font-size: 2rem;
    color:#fff;
}

.text-input{
    font-size: 1rem;
    border-radius:20px;
    transition:.5s;
    margin-top:5px;

}
.text-input:focus{
    border-radius:3px;
    outline:none;
}

.calculator-box label{
    font-size: 1.2rem;
}

.new-button{
    width:100%;
    height:3vh;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:#fff;
    font-size:1.5rem;
    transition:.2s;
}

.new-button:hover{
    color:var(--brand-300);
    background: rgba(var(--brand-300-a), 0.16);
    border: 1px solid rgba(var(--brand-300-a), 0.3);
}

.type-dropdown{
    margin-top:5px;
    border-radius:5px;
    width:100%;
    height:3vh; 
}

.impacts-container{
    flex:1;
    overflow-y: scroll;
}

.impact{
    padding:10px;
    margin-top:10px;
}

.summary{
    display:none;
}

.summary.active{
    width:max(500px,50vh);
    padding:10px;
    margin-top:20px;
    display:flex;
    flex-direction: column;
    
}

.summary .title{
    font-size:1.3rem;
    text-align: center;
}

.submit-button{
    display: none;
}
.submit-button.active{
    width:max(500px,50vh);
    padding:10px;
    margin-top:20px;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

.next-button{
    width:max(500px,50vh);
    padding:10px;
    margin-top:20px;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}
.big-button{

}