:root{
    --neutral-500:#495666;
    --neutral-600:#323F4F;
    --neutral-700:#1A232E;
    --neutral-800:#0C141F;
    --neutral-900:#03080D;

    --brand-500:#D335E8;

    --default-font: "JetBrains Mono", monospace
}

body{
    font-family: var(--default-font);
    margin:0;
    padding: 0;
}

.main-content{
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-600);

    display: flex;
    justify-content: center;
    align-items: center;
}

.caclulator-box{
    border: 2px solid var(--brand-500)
}